.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 400px;
  margin: 40px;
  box-shadow: $box-shadow-light;
  padding: 40px;

  &_yellow {
    background: url('./img/bubble_yellow.svg') 45% 0 no-repeat;
  }

  &_pink {
    background: url('./img/bubble_pink.svg') 20% 0 no-repeat;
  }

  &_green {
    background: url('./img/bubble_green.svg') 35% 0 no-repeat;
  }

  &__name {
    margin-right: 16px;
  }

  &__shop {
    margin-bottom: 40px;
  }

  &__content {
    width: 80%;
    height: 300px;
    max-width: 100%;
    cursor: pointer;
    background: $gradient-card;
    border-radius: 50%;
    transform: scale(1);
    margin-bottom: 16px;
    box-shadow: $box-shadow-light;
    transition: transform .2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__rating {
    margin-top: 20px;
    text-decoration: none;
    color: $color-light-primary;
    transition: color .2s ease;

    &:hover {
      color: $color-brown;
    }
  }

  &__description {
    padding-bottom: 10px;
  }

  &__price {
    align-self: flex-end;
    background-color: $color-light-primary;
    border-radius: 12px;
    padding: 4px 10px 4px 12px;
    transform: rotate(20deg);
    position: relative;
    opacity: .7;
    border: 1px solid $color-light-primary;
    color: $color-white;

    &::before {
      display: inline-block;
      position: absolute;
      content: "";
      top: 50%;
      left: -5px;
      width: 8px;
      height: 8px;
      background-color: $color-white;
      border: 2px solid $color-light-primary;
      border-radius: 100%;
      transform: translateY(-50%);
    }

    &::after {
      display: inline;
      content: " ₽";
    }
  }

  @media (max-width: 600px) {
    max-width: 100%;
    margin: 10px 20px 40px;

    &__content {
      width: 100%;
      border-radius: 0;
    }

    &__block {
      flex-wrap: wrap;
    }
  }

  @media (max-width: 420px) {
    padding: 30px;

    &__content {
      height: 200px;
      transform: none;
    }

    &__rating {
      margin-top: 0;
    }
  }
}
