.form {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  margin: 10px auto;
  padding: 20px 10px 60px;

  &__list {
    list-style-type: none;
    margin: 40px 0;
    padding: 0;
  }

  &__pay {
    background: $color-white-light;
    color: $color-brown;
    box-shadow: $box-shadow-light;
    padding: 25px;
    margin-bottom: 25px;
  }

  &__choice {
    margin: 16px 0 32px;
  }

  &__field {
    margin-bottom: 20px;
    padding: 15px 20px;
    font-size: $font-size-small;

    &_color {
      width: 60%;
      margin-bottom: 40px;
      background: none;
      color: $color-brown;
      transition: .2s ease-in-out;
      border-left: none;
      border-right: none;
      border-top: none;
      border-bottom: 2px solid $color-black-primary;
      outline: none;
      padding: 10px 0;

      &:focus {
        border-color: $color-dark-violet;
        outline: 0 none;
      }

      @media (max-width: 500px) {
        width: 90%;
        margin-bottom: 50px;
      }
    }

    &_input {
      background: $color-white-light;
      color: $color-brown;
      transition: .2s ease-in-out;
      box-shadow: $box-shadow-light;
      border: none;

      &:focus {
        border-color: $color-brown;
        outline: 0 none;
        box-shadow: $box-shadow-focus;
      }
    }

    &_button {
      cursor: pointer;
      background: $color-brown;
      padding: 25px;
      border: none;
      color: $color-white;
      text-transform: uppercase;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 1px;
      margin: 15px 0;
      transition: .2s ease-in-out;

      &:hover {
        background: $color-light-brown;
      }
    }
  }

  &__info {
    display: flex;
    min-width: 360px;
    margin-bottom: 25px;
  }

  &__link {
    text-decoration: none;
  }

  @media (max-width: 760px) {
    width: 90%;
  }
}
