.radio {
  display: block;
  cursor: pointer;
  position: relative;
  padding-left: 40px;
  margin-bottom: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: $color-white-light;
    box-shadow: $box-shadow-light;

    &:after {
      content: "";
      position: absolute;
      display: none;
      top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
    }
  }
}

.radio:hover .radio__input ~ .radio__checkmark {
  background-color: $color-white-light;
}

.radio .radio__input:checked ~ .radio__checkmark {
  background-color: $color-brown;
}

.radio .radio__input:checked ~ .radio__checkmark:after {
  display: block;
}
