body {
  margin: 0;
  padding: 0;
  background:
    linear-gradient(0deg, rgba(0,0,0,.6), transparent, rgba(0,0,0,.6)),
    url("img/Pattern.png");
  background-repeat: repeat;
  font-family: 'Exo 2', sans-serif;
}

h1 {
  font-weight: normal;
}
