.card {
  width: 320px;
  height: 480px;
  background-repeat: no-repeat;
  margin: 20px;
  padding: 20px 48px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

.card--selected {
  filter:
    grayscale(40%)
    saturate(40%)
    brightness(120%);
}

.card--selected > * {
  color: grey;
}

.card__tooltip {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  font-size: 13px;
}

.card__text--grey {
  color: #666666;
}

.card__name {
  font-weight: bold;
  margin-top: 6px;
  font-size: 40px;
  margin-bottom: 0;
}

.card__filling {
  font-weight: 600;
  margin-top: 0;
  font-size: 24px;
  margin-bottom: 0;
}

.card__block {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.card__bubble {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 50%;
  right: 20px;
  bottom: 20px;
}

.card__weight {
  margin-bottom: 0;
  margin-top: 8px;
  font-size: 36px;
}

.card__part {
  margin-top: 0;
}
