$color-white: #FFFFFF;
$color-black-primary: #262626;
$color-grey: #828282;
$color-light-skin: #fffcdc;
$color-light-glow: #fffcdc26;
$color-brown: #312626;
$color-light-primary: #31262659;
$color-light-brown: #443535;

$gradient-block: linear-gradient(to bottom right, #d9a7c7, $color-light-skin);
$color-grey: #657195;
$color-silver: #FAFBFE;
$color-light-grey: #eff2f9;
$color-border-general: #E6E8F0;
